BasedOnStyle: Google
IndentWidth: 8
UseTab: ForIndentation
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
SpaceBeforeParens: Always
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: None
AlignTrailingComments: true
AlignAfterOpenBracket: Align
CompactNamespaces: false
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
MaxEmptyLinesToKeep: 1
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 2
SpaceAroundPointerQualifiers: Default
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: AfterHash
TabWidth: 8
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
AlignOperands: true  